.form {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  .form-input {
    border: 1px solid #f2f3f7;
    border-radius: 28px;
    width: 200px;
    height: 20px;
    padding: 7px;
    outline: none;
    margin: 10px;
    &:hover,
    &:focus {
      border: 1px solid #47cfde;
    }
  }

  .form-submitBtn {
    background: #47cfde;
    border: 1px solid #47cfde;
    border-radius: 20px;
    color: #f2f3f7;
    margin: 10px;
  }
}
